css
/* Estilo para a classe principal do aplicativo */
.App {
  text-align: center;
}

/* Estilo para o logo do aplicativo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Animação para o logo do aplicativo, aplicada apenas se o usuário não preferir redução de movimento */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Estilo para o cabeçalho do aplicativo */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Estilo para os links no aplicativo */
.App-link {
  color: #61dafb;
}

/* Animação de rotação para o logo do aplicativo */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}