/* Estilo para o corpo (body) da página */

body {
  /* Remove a margem padrão do corpo */
  margin: 0;

  /* Define a família de fontes a ser utilizada, dando preferência a algumas fontes específicas */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  /* Melhora a suavização de fontes no WebKit (Safari/Chrome) */
  -webkit-font-smoothing: antialiased;

  /* Melhora a suavização de fontes no Firefox */
  -moz-osx-font-smoothing: grayscale;
}

/* Estilo para o elemento 'code' na página */

code {
  /* Define a família de fontes específica para blocos de código */
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}